{% extends "base.html.twig" %}
{% block js %}

	{{parent() }}


		<script src="/assets/js/js.js" > </script>    

{% endblock %}


{% block content %}

	<form method="post">
		<div id="component-list" class=" mb-4 mt-4">
                <div  id ="component-select-template"class="col-10">
                    {% for i in listComponent %}
						{% if i == "PcCase" %}
						<select name="computer[{{i}}]" id="{{i}}">
							<option value="">Select {{i}}</option>
						</select> 
						{% endif %}
						
					<select hidden="hidden" name="computer[{{i}}]" id="{{i}}"></select> 
         			{% endfor %}
				</div>
		</div>
		
		
		 <button type="submit"> Valider</button>
		
	</form>

{% endblock %}
